<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">


	<bean id="rest_dataSource"
		class="org.apache.commons.dbcp2.BasicDataSource">
	
	   <property name="url" value="${jdbc.rest.db.url}" />
	   <property name="username" value="${jdbc.rest.db.username}" />
	   <property name="password" value="${jdbc.rest.db.password}" />
	   <property name="removeAbandoned" value="true"/>
	   <property name="initialSize" value="1" />
	   <property name="maxActive" value="10" />
	   <property name="validationQuery" value="SELECT 1"/>
	   <property name="testOnBorrow" value="true"/>
	   
	   <property name='driverClassName '
	   	value='jdbc.rest.db.driverClassName'>
	   </property>
	</bean>
</beans>
